<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/admin-dashboard.css">
    <title>Admin-LMS</title>
</head>
<body>
    <div class="sidebar">
        <section class="logo">
            <img src="/static/img/Untitled design.svg" alt="logo">
            <span>Welcome, {{ role }} {{ lastname }}</span>
            <p>Serenity National High School</p>
        </section>
        <nav class="nav">
            <ul>
                <li><a href="#Home"><i class="fa-solid fa-home"></i> Home</a></li>
                <li><a href="#Student-Management"><i class="fa-solid fa-users"></i> Student Management</a></li>
                <li><a href="#Teacher-Management"><i class="fa-solid fa-users"></i> Teacher Management</a></li>
                <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        <section id="Home" class="dashboard">
            <div class="dashboard-title">
            <h1>Dashboard</h1>
            <h2>Welcome, {{ role }} {{ firstname }} {{ lastname }}!</h2>                
            </div>
            <div class="overview">
                <section class="overview-container">
                    <section class="users-overview">
                        <h2>Users</h2>
                        <h3>{{ users|length }}</h3>
                    </section>
                    <section class="accounts-overview">
                        <h2>Accounts:</h2>
                        <h3>{{ users|length }}</h3>
                    </section>
                </section>
            </div>
        </section>
        <section id="Student-Management" class="user-management">
            <h1>Student Management</h1>
            <section class="finduser">
                <label for="search-user">Search User:</label>
                <input type="text" id="search-user" name="search-user" placeholder="search for user...">
                <button type="button">Search</button>
            </section>

            <section class="add-user">
                <form action="/adduser" class="adduser" method="POST">
                    <label for="lastname">Lastname:</label>
                    <input type="text" name="lastname" id="lastname" placeholder="lastname...">
                    <label for="firstname">Firstname:</label>
                    <input type="text" name="firstname" id="firstname" placeholder="firstname...">
                    <label for="middlename">Middlename:</label>
                    <input type="text" name="middlename" id="middlename" placeholder="middlename...">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="example@gmail.com...">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="password...">
                    <button type="submit">Create User</button>
                </form>
            </section>
            <section class="user-edit">
                <section class="userinfo-title">
                    <p>ID</p>
                    <p>Firstname</p>
                    <p>Lastname</p>
                    <p>MiddleName</p>
                    <p>Role</p>
                </section>
                <section class="user-info">
                    <section class="user-id">
                        {% for user in users %}
                            <h3>{{ user.id }}</h3>
                        {% else %}
                            <h3>No id found</h3>
                        {% endfor %}
                    </section>
                    <section class="user-ln">
                        {% for user in users %}
                            <h3>{{ user.firstname }}</h3>
                        {% else %}
                            <h3>No firstname found</h3>
                        {% endfor %}
                    </section>
                    <section class="user-fn">
                        {% for user in users %}
                            <h3>{{ user.lastname }}</h3>
                        {% else %}
                            <h3>No lastname found</h3>
                        {% endfor %}
                    </section>
                    <section class="user-mn">
                        {% for user in users %}
                            <h3>{{ user.middlename }}</h3>
                        {% else %}
                            <h3>No middlename found</h3>
                        {% endfor %}
                    </section>
                    <section class="user-role">
                        {% for user in users %}
                            <h3>{{ user.role }}</h3>
                        {% else %}
                            <h3>No role found</h3>
                        {% endfor %}
                    </section>
                </section>
            </section>
        </section>
        <section id="Teacher-Management" class="Teacher-management">
            <h1>Teacher Management</h1>
            <section class="finduser">
                <label for="search-teacher">Search Teacher:</label>
                <input type="text" id="search-teacher" name="search-teacher" placeholder="search for teacher...">
                <button type="button">Search</button>
            </section>

            <section class="add-teacher">
                <form action="/addteacher" class="addteacher" method="POST">
                    <label for="lastname">Lastname:</label>
                    <input type="text" name="lastname" id="lastname" placeholder="lastname...">
                    <label for="firstname">Firstname:</label>
                    <input type="text" name="firstname" id="firstname" placeholder="firstname...">
                    <label for="middlename">Middlename:</label>
                    <input type="text" name="middlename" id="middlename" placeholder="middlename...">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="example@gmail.com...">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="password...">
                    <button type="submit">Create User</button>
                </form>
            </section>
            <section class="teacher-edit">
                <section class="teacherinfo-title">
                    <p>ID</p>
                    <p>Firstname</p>
                    <p>Lastname</p>
                    <p>MiddleName</p>
                    <p>Role</p>
                </section>
                <section class="teacher-info">
                    <section class="teacher-id">
                        {% for user in users %}
                            <h3>{{ user.id }}</h3>
                        {% else %}
                            <h3>No id found</h3>
                        {% endfor %}
                    </section>
                    <section class="teacher-ln">
                        {% for user in users %}
                            <h3>{{ user.firstname }}</h3>
                        {% else %}
                            <h3>No firstname found</h3>
                        {% endfor %}
                    </section>
                    <section class="teacher-fn">
                        {% for user in users %}
                            <h3>{{ user.lastname }}</h3>
                        {% else %}
                            <h3>No lastname found</h3>
                        {% endfor %}
                    </section>
                    <section class="teacher-mn">
                        {% for user in users %}
                            <h3>{{ user.middlename }}</h3>
                        {% else %}
                            <h3>No middlename found</h3>
                        {% endfor %}
                    </section>
                    <section class="teacher-role">
                        {% for user in users %}
                            <h3>{{ user.role }}</h3>
                        {% else %}
                            <h3>No role found</h3>
                        {% endfor %}
                    </section>
                </section>
            </section>
        </section>
    </div>
</body>
</html>